<article class="blog-post">
    <h2 class="h1 blog-post-title"> <%= article.title %> </h2>
    <p class="blog-post-meta">
        <%= render "article_detail", article: article %>
    </p>

    <p><%= truncate(article.body, length: 200) %></p>

    <p>
        <%= link_to 'Read more...', article, class: " btn-link" %>
    </p>

    <%= link_to 'Edit', edit_article_path(article),
        class: "btn btn-primary mb-3" if policy(article).update? %>

    <%= link_to 'Delete', article_path(article),
    data: { turbo_method: :delete,
    turbo_confirm: "Are you sure?" },
    class: "btn btn-danger mb-3" if policy(article).destroy? %>
    
</article>